[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
scikit-learn = ">=0.21.3"
sklearn-json = {path = "."}

[dev-packages]
pytest = "*"
black = "*"

[requires]
python_version = "3.10"
